# Dataset videos
Janith/dataset/
dataset/

# Python venv
slsl_env/
venv/
env/

# Model files (large)
*.h5
*.tflite
*.pb

# Python cache
__pycache__/
*.pyc

# Flutter build
slsl_app/build/
slsl_app/.dart_tool/Janith/keypoints_data.csv
Janith/keypoints_clean.csv
